#Edit this file with proper values and change its name to database.properties

# Amazon Web Services info

aws_username=
aws_password=

#AWS RDS IP must be set as IP:PORT

aws_db=
aws_db_name=

# Servioticy data

so_address=http://api.servioticy.com/
so_apikey=
