#Edit this file with proper values and change its name to database.properties

# Amazon Web Services info

db_username=
db_password=

#AWS RDS IP must be set as IP:PORT

db=
db_name=
db_table=

# Servioticy data

so_address=http://api.servioticy.com/
so_apikey=
